# config file for ansible -- https://ansible.com/
# ===============================================

# nearly all parameters can be overridden in ansible-playbook
# or with command line flags. ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory or /etc/ansible/ansible.cfg, whichever it
# finds first

[defaults]
interpreter_python=auto_silent
stdout_callback = full_skip
#stdout_callback = actionable
#log_path= ~/Documentos/ansible_mikrotik/ansible.log
host_key_checking = False
# some basic default values...
